modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["SDL2", "SDL2_image", "SDL2_mixer", "SDL2_ttf", "cacert", "cargo", "fontconfig", "freetype", "gitFull", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "lcms2", "libffi", "libiconv", "libimagequant", "libjpeg", "libjpeg_turbo", "libpng", "libtiff", "libuv", "libwebp", "libxcrypt", "mupdf", "openjpeg", "pgadmin4", "pkg-config", "portmidi", "rustc", "swig", "tcl", "tk", "xcbuild", "zlib"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "DnD Server"

[[workflows.workflow]]
name = "DnD Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3.11 run_server.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33953
externalPort = 3000

[[ports]]
localPort = 45723
externalPort = 3001

[deployment]
deploymentTarget = "vm"
run = ["python", "run_server.py"]

[userenv]

[userenv.shared]
USE_MULTI_AGENT_DM = "true"
VOICE_TTS_ENABLED = "true"

[userenv.development]
EVAL_LOGGING_ENABLED = "true"
